.image{
    width:200px;
    height: 300px;
}
.productcard{
    background-color:greenyellow;
    width:250px;
    margin-top:20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.productContainer{
    display: flex;
    gap:20px;
    margin: 20px;
    flex-wrap: wrap;
    background-image: radial-gradient(blue,yellow);
    

}


